.bg-black{
    background-color:black;
}

textarea {
  resize: none;
}

#img{
    height: 600px;
}

fieldset{
    min-width:2;
    padding:5%;
    margin:2;
    border:1;
    border-radius: 0.25rem;
    box-shadow: 2px 2px 2px grey;
}

.btn-right{
    float: right;
}



.info{
    font-size: 15px;
}

.nav-link{
    color: white;
}

.iconindev{
    color: white;
    text-transform: uppercase;
}

.btnindev{
   background-color: #325773;
   border-radius: 4px 4px 4px 4px;
   box-shadow: 0 6px 12px rgba(0,0,0,.175); 
   padding: 5px 10px; 
   
}

.menu{
    background-color: #325773;
    
}

.toppei{
color: #333333;
text-transform: uppercase;
font-size: 14px;
}

.search_tx{
    width: 90%;
    border: solid 1px #ddd;
    margin-top:1px; 
    border-radius: 4px 4px 4px 4px; 
    box-shadow: 0 6px 12px rgba(0,0,0,.175); 
    padding: 5px 10px;

}

.row-center{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    text-align: center;
}

.twitter-typeahead, .tt-hint, .tt-input, .tt-menu { width: 90%; }

/*.tt-hint {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}*/


/*.tt-hint {
    color: #999;
}*/

/* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
.tt-menu { 
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #0097cf;

}